.card{
    background-image: url('https://images.unsplash.com/photo-1721002335874-16ca86e39cd0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw4NXx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}